body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjust the alignment as needed */
  max-width: 100%;
  box-sizing: border-box;
}

.flex-item {
  margin: 5px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  /* Set a fixed height for the flex items */
  height: 200px;
  /* Set a default width based on the fixed height */
  width: 200px;
}
